[submodule "vim/janus.symlink/groovy.vim"]
	path = vim/janus.symlink/groovy.vim
	url = git://github.com/vim-scripts/groovy.vim.git
[submodule "vim/janus.symlink/AutoTag"]
	path = vim/janus.symlink/AutoTag
	url = https://github.com/grota/AutoTag.git
[submodule "vim/janus.symlink/php.vim"]
	path = vim/janus.symlink/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "vim/janus.symlink/delimitMate"]
	path = vim/janus.symlink/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/janus.symlink/vim-less"]
	path = vim/janus.symlink/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/janus.symlink/vim-coffee-script"]
	path = vim/janus.symlink/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim/janus.symlink/vim-golang"]
	path = vim/janus.symlink/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "vim/janus.symlink/Jinja"]
	path = vim/janus.symlink/Jinja
	url = https://github.com/vim-scripts/Jinja.git
